body{
    color: green;
    padding: 50px 20%;

}
h1,h2,h3,strong{
    color: plum;
}
h1,h3{
    text-align: center;
}
h2{
    text-align: right;
    border-bottom-style: solid;
    border-bottom-color: lightslategray;
}
hr{
    color: lightslategray;
    width: 50%;
    height: 1px;
    border-top: dotted;
}
p{
    color: darkslategray;
    font-family: Georgia,Serif;
    text-align: justify;
    font-style: italic;
}
h1{
    text-transform: uppercase;
}