@font-face{
    font-family: 'Baloo Bhaina', cursive;
    src: url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
}
body{
    color: green;
    padding: 50px 20%;
    font-family: 'Baloo Bhaina', cursive;;


}
h1,h2,h3,strong{
    color: plum;
}
h1,h3{
    text-align: center;
}
h2{
    text-align: right;
    border-bottom-style: solid;
    border-bottom-color: lightslategray;
}
hr{
    color: lightslategray;
    width: 50%;
    height: 1px;
    border-top: dotted;
}
p{
    color: darkslategray;

    text-align: justify;
    font-style: italic;
}
h1{
    text-transform: uppercase;
}
#number1-achievement{
    color: red;
}
.hey{
    color: greenyellow;
}